.customInput{
    height: 2.5rem; /* 40px */
    width: 100%;
    border-width: 1px;
    border-radius: 0.375rem; /* 6px */
    padding: 0.5rem; /* 8px */
    color: black;
    outline:none ;
    margin-top: 0.75rem; /* 12px */

}